In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract


# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.tobs).\
          filter(extract('month', Measurement.date)==6).all()

In [5]:
#  3. Convert the June temperatures to a list.
temps_june = list(np.ravel(results))

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_june = pd.DataFrame(temps_june, columns=['June Temps'])
df_june.sample(10)

      June Temps
1345        80.0
1204        72.0
690         77.0
84          76.0
1409        78.0
1593        77.0
338         74.0
78          77.0
244         75.0
1253        67.0

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df_june.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.tobs).\
          filter(extract('month', Measurement.date)==12).all()

In [9]:
# 7. Convert the December temperatures to a list.
temps_dec = list(np.ravel(results))

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_dec = pd.DataFrame(temps_dec, columns=['December Temps'])

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_dec.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [15]:
#Additional queries for weather data
results = session.query(Measurement.prcp).\
          filter(extract('month', Measurement.date)==6).all()
prcp_june = list(np.ravel(results))
df_june_prcp = pd.DataFrame(prcp_june, columns=['June Precipitaion'])
df_june_prcp.describe()

       June Precipitaion
count        1574.000000
mean            0.136360
std             0.335731
min             0.000000
25%             0.000000
50%             0.020000
75%             0.120000
max             4.430000

In [17]:
results = session.query(Measurement.prcp).\
          filter(extract('month', Measurement.date)==12).all()
prcp_dec = list(np.ravel(results))
df_dec_prcp = pd.DataFrame(prcp_dec, columns=['December Precipitaion'])
df_dec_prcp.describe()

       December Precipitaion
count            1405.000000
mean                0.216819
std                 0.541399
min                 0.000000
25%                 0.000000
50%                 0.030000
75%                 0.150000
max                 6.420000